body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    color: #fff;
    opacity: 0;
    animation: fadeIn 1s ease forwards, slideUp 1s ease forwards;
}

.title {
    font-size: 3rem;
    color: #dc3545;
    margin-bottom: 10px;
    opacity: 0;
    animation: slideInDown 1s ease forwards;
}

.message {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
